<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeHandlers>

    </typeHandlers>
    <mappers>
        <!--<mapper resource="com.qa.iFramework.common.mapper.IModuleMapper"></mapper>-->
        <!--<mapper resource="com.qa.iFramework.common.mapper.IResultMapper"></mapper>-->
        <!--<mapper resource="com.qa.iFramework.common.mapper.IUserMapper"></mapper>-->
        <!--<mapper resource="com.qa.iFramework.common.mapper.IVersionMapper"></mapper>-->
        <mapper resource="com/qa/iFramework/common/mapper/IModuleMapper.xml"></mapper>
        <mapper resource="com/qa/iFramework/common/mapper/IResultMapper.xml" ></mapper>
        <mapper resource="com/qa/iFramework/common/mapper/IUserMapper.xml" ></mapper>
        <mapper resource="com/qa/iFramework/common/mapper/IVersionMapper.xml" ></mapper>
        <!--<package name="com.qa.iFramework.common.mapper"></package>-->
	</mappers>

</configuration>