<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qa.iFramework.common.mapper.INodeManagerMapper">

    <select id="findNodeFlags" resultType="com.qa.iFramework.common.DTO.NodeManagerDto">
        select *
        from qa.nodemanager where path LIKE concat(concat(#{path}),'%');
    </select>

    <!--<update id="updateNodeFlag" parameterType="com.qa.iFramework.common.DTO.NodeManagerDto">-->
    <!--update qa.nodemanager-->
    <!--SET   pn = #{pn,jdbcType=VARCHAR}-->
    <!--WHERE id = #{id};-->
    <!--</update>-->

    <update id="updateNodeFlag" parameterType="com.qa.iFramework.common.DTO.NodeManagerDto">
        update qa.nodemanager
        <trim prefix="set" suffixOverrides=",">
            <if test="flags != null">
                flags = #{flags,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pn != null">
                pn = #{pn,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR}
            </if>
        </trim>
        where id = #{id};
    </update>

    <insert id="addNodeFlag" parameterType="com.qa.iFramework.common.DTO.NodeManagerDto">
        INSERT INTO qa.nodemanager(
        flags,path,name,note,pn)
        VALUES (
        #{flags,jdbcType=VARCHAR},
        #{path,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{note,jdbcType=VARCHAR},
        #{pn,jdbcType=VARCHAR});
    </insert>

    <delete id="deleteNodeFlag" parameterType="java.lang.Integer">
        delete from qa.nodeManager where id=#{id,jdbcType=INTEGER};
    </delete>

    <select id="findBizCases" resultType="com.qa.iFramework.common.DTO.NodeManagerDto" >
        SELECT * FROM qa.nodemanager WHERE pn is not null order by pn
    </select>
</mapper>