<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qa.iFramework.common.mapper.ISummaryMapper">

    <!--<parameterMap id="resultParaMap" type="com.qa.iFramework.common.DTO.ResultDto">-->
    <!--<parameter property="id" resultMap="id" />-->
    <!--<parameter property="user_id" resultMap="user_id" />-->
    <!--<parameter property="module_id" resultMap="interfaceName" />-->
    <!--<parameter property="version_id" resultMap="version_id" />-->
    <!--<parameter property="is_passed" resultMap="is_passed" />-->
    <!--<parameter property="case_info" resultMap="case_info" />-->
    <!--<parameter property="runDateTime" resultMap="runDateTime" />-->
    <!--<parameter property="environment" resultMap="environment" />-->
    <!--<parameter property="step_name" resultMap="step_name" />-->
    <!--<parameter property="node_name" resultMap="node_name" />-->
    <!--</parameterMap>-->

    <resultMap id="summaryMapped" type="com.qa.iFramework.common.DTO.SummaryDto">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="pass" property="pass" jdbcType="INTEGER"/>
        <result column="skip" property="skip" jdbcType="INTEGER"/>
        <result column="pass" property="pass" jdbcType="INTEGER" />
        <result column="rundate" property="rundate" jdbcType="VARCHAR" />
        <result column="productname" property="productname" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findSummary" resultMap="summaryMapped"
    resultType="com.qa.iFramework.common.DTO.SummaryDto" parameterType="com.qa.iFramework.common.DTO.SummaryDto">
    select *
    from qa.summary where 1=1
        <if test="rundate != null and !rundate.isEmpty()">
            and rundate like '%'||#{rundate,jdbcType=VARCHAR}||'%'
        </if>
        <if test="productname != null and !productname.isEmpty()">
        and productname like '%'||#{productname,jdbcType=VARCHAR}||'%'
        </if>
    order by id;
    </select>

    <select id="findLatestSummary" resultMap="summaryMapped"
            resultType="com.qa.iFramework.common.DTO.SummaryDto" parameterType="com.qa.iFramework.common.DTO.SummaryDto">
        select *
        from qa.summary where 1=1

        <if test="productname != null and !productname.isEmpty()">
            and productname like '%'||#{productname,jdbcType=VARCHAR}||'%'
        </if>
        order by id;
    </select>

    <select id="findTotalSummaryByDate" resultMap="summaryMapped"
            resultType="com.qa.iFramework.common.DTO.SummaryDto" parameterType="com.qa.iFramework.common.DTO.SummaryDto">
        select *
        from qa.summary where 1=1

        <if test="rundate != null and !rundate.isEmpty()">
            and rundate like '%'||#{rundate,jdbcType=VARCHAR}||'%'
        </if>
        order by id;
    </select>

    <!--<update id="updateResult" parameterType="com.qa.iFramework.common.DTO.ResultDto">-->
    <!--update qa.result-->
    <!--<set>-->
    <!--<if test="user_id != 0">-->
    <!--user_id = #{user_id,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="version_id != 0">-->
    <!--version_id = #{version_id,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="module_id != 0">-->
    <!--module_id = #{module_id,jdbcType=INTEGER},-->
    <!--</if>-->
    <!--<if test="is_passed != null">-->
    <!--is_passed = #{is_passed,jdbcType=BOOLEAN},-->
    <!--</if>-->
    <!--<if test="case_info != null and !case_info.isEmpty()">-->
    <!--case_info = #{case_info,jdbcType=VARCHAR}-->
    <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER};-->
    <!--</update>-->

    <insert id="addSummary">
        INSERT INTO qa.summary(
        pass,fail,skip,rundate,productname)
        VALUES (
        #{pass,jdbcType=INTEGER},
        #{fail,jdbcType=INTEGER},
        #{skip,jdbcType=INTEGER},
        #{rundate,jdbcType=VARCHAR},
        #{productname,jdbcType=VARCHAR});
    </insert>

    <!--<update id="deleteResult" parameterType="long">-->
    <!--delete from qa.result where id=#{id,jdbcType=INTEGER};-->
    <!--</update>-->
</mapper>