<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qa.iFramework.common.mapper.IVersionMapper">

    <resultMap id="versionMapped" type="com.qa.iFramework.common.DTO.VersionDto">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="time" property="date" jdbcType="TIMESTAMP" />
        <result column="pn" property="pn" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findVersion" resultMap="versionMapped" resultType="com.qa.iFramework.common.DTO.VersionDto">
        select id,'time',pn
        from qa.version where id=#{id,jdbcType=INTEGER};
    </select>

    <select id="generateVersionId" resultType="long">
        SELECT nextval('"qa".version_id_seq'::regclass);
    </select>

    <insert id="addVersion" parameterType="long">
        INSERT INTO qa.version(
        id)
        VALUES (
        #{id,jdbcType=INTEGER});
    </insert>

    <insert id="addVersionPn" useGeneratedKeys="true" keyProperty="id" parameterType="com.qa.iFramework.common.DTO.VersionDto" >
        INSERT INTO qa.version(
        pn)
        VALUES (
        #{pn,jdbcType=VARCHAR});
    </insert>

    <select id="findVersionByPn" resultMap="versionMapped" resultType="com.qa.iFramework.common.DTO.VersionDto">
        select id,time,pn
        from qa.version where 1=1
        <if test="date != null and !date.isEmpty()">
            and to_char(time,'yyyy-mm-dd')  like '%'||#{date,jdbcType=VARCHAR}||'%'
        </if>
        <if test="pn != null and !pn.isEmpty()">
            and pn LIKE '%'||#{pn,jdbcType=VARCHAR}||'%'
        </if>
        order by id;
    </select>

    <select id="findRunnedNumbers" resultType="com.qa.iFramework.common.DTO.VersionDto" >
        SELECT *  FROM qa.version WHERE pn is not null  order by pn
    </select>
</mapper>