<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chanjet.chanapp.qa.iFramework.common.mapper.IFlagsMapper">

    <select id="findFlagID" resultType="com.chanjet.chanapp.qa.iFramework.common.DTO.FlagsDto">
        select *
        from qa.flags where name=#{name,jdbcType=VARCHAR};
    </select>

    <select id="findAll" resultType="com.chanjet.chanapp.qa.iFramework.common.DTO.FlagsDto">
        select *
        from qa.flags
    </select>

</mapper>